---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Icon } from "astro-icon/components";
import { loadFriends } from "@/lib/load-friends";
import FriendsEditPage from "@/components/write/FriendsEditPage";

const friends = loadFriends();
---

<BaseLayout title="Friends" isIndexed={false}>
  <FriendsEditPage client:only="react" initialFriends={friends} />

  <div class="divider my-6 animate-fade-in-up" style="animation-delay: 0.1s;">
    <Icon name="lucide:heart" class="w-12 h-12 text-primary/50" />
  </div>
</BaseLayout>
