---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Icon } from "astro-icon/components";
import { loadProjects } from "@/lib/load-projects";
import ProjectsEditPage from "@/components/write/ProjectsEditPage";

const projects = loadProjects();
---

<BaseLayout title="Projects" isIndexed={false}>
  <ProjectsEditPage client:only="react" initialProjects={projects} />

  <div class="divider my-6 animate-fade-in-up" style="animation-delay: 0.1s;">
    <Icon name="lucide:heart" class="w-12 h-12 text-primary/50" />
  </div>
</BaseLayout>
